


<div class="row">
  <div class="col-sm-6">
    <h1>Games</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_game_path, class: 'btn btn-primary' do %>
    Add New Game
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <%= content_tag :tr, id: dom_id(game), class: dom_class(game) do %>
          

                      <td><%= game.title %></td>
                      <td><%= game.image %></td>
                      <td><%= game.description %></td>
          
          
            <td><%= link_to 'Show', game %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
